@use './tokens';

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('/fonts/halvar-breitschrift-regular.woff2') format('woff2');
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('/fonts/halvar-breitschrift-bold.woff2') format('woff2');
  font-weight: 600 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Mittelschrift';
  src: url('/fonts/halvar-mittelschrift-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Mittelschrift';
  src: url('/fonts/halvar-mittelschrift-medium.woff2') format('woff2');
  font-weight: 500 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background: var(--background-default);
  color: var(--text-primary);
  font-family: var(--font-text);
}
